<!DOCTYPE html>
<html lang="en">
<head>
  <!-- reset -->
  <link  href="styles/reset.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="styles/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="icon" href="./images/cl_icon.png"/>
  <title>CloudLogr</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="center_text">CloudLogr</h1>
    <h2 class="center_text"><a class="a_link" href="/tank" "link to data view">Log Data</a></h2>
    <br>
    <p>Functionality:  One notable feature on the following page is how the server polls for data.  Once the server starts polling, it will continue even if the browser is closed.  The polling is handled by a method on the 'schedule' model using setInterval.  Check the <a href="https://github.com/JasonHorine/cloudlogr" title="link to GitHub">schedule.js file to see that code.</a></p>
    <br>
    <p>To stop the polling process, an API route sets a flag in the database.  The polling process checks the database each time it wakes.  It either polls or calls clearInterval on itself accordingly.</p>
    <br>
    <p>eWON:  The data on the following page was originally retrieved from a test API provided by eWON.  When that test API expired, I added a method to randomly generate my own simulated data.</p>
    <br>
    <p>This project was completed for my Web Dev class at General Assembly.  I hope to eventually turn this into a real application.  It is a crude mock-up in its current form.</p>
  </div>
</body>
</html>


