<!DOCTYPE html>
<html lang="en">
<head>
  <!-- reset -->
  <link  href="styles/reset.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="styles/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="icon" href="./images/cl_icon.png"/>
  <title>CloudLogr</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="center_text">CloudLogr</h1>
    <h2 class="center_text"><a class="a_link" href="/tank" "link to data view">Log Data</a></h2>
    <br>
    <p>Functionality:  One notable feature on the following page that is not readily apparent is that if you hit start polling, the server spins up a process of polling the eWON API at the indicated interval.  Even if the browser is closed, the server will continue to gather data, storing it in a MongoDB database.  Try it!</p>
    <br>
    <p>And yes, if something in the UI is not readily apparent, that's bad UX.  What infrastructure I've created to date has been designed with UX in mind, but the UI did not receive the attention it could have.</p>
    <br>
    <p>eWON:  The data on the following page is retrieved from an API graciously provided by eWON.  The tank application is a simulation running on their server in New York.  The site could readily target real hardware behind an eWON VPN router.</p>
    <br>
    <p>(The following list is what I believe customers of a product of this sort would want from it.  It's a preliminary marketing spec.  The items seem feasible, but are NOT implemented.)</p>
    <ul>
      <li>easy to configure</li>
      <li>quadruple redundancy of your data</li>
      <li>redundant servers across the globe</li>
      <li>upload your tag database for setup</li>
      <li>got internet? got data!</li>
      <li>online historical data visualization</li>
      <li>text and email alerts</li>
      <li>email csv data retrieval</li>
    </ul>
  </div>
</body>
</html>


