<!DOCTYPE html>
<html lang="en">
<head>
  <title>CloudLogr</title>
</head>
<body>
  <h1>Welcome to CloudLogr</h1>
  <h2>The best value in Industrial Data Logging!</h2>
  <ul>
    <li>easy to configure</li>
    <li>quadruple redundancy of your data</li>
    <li>redundant servers across the globe</li>
    <li>upload your tag database for setup</li>
    <li>got internet? got data!</li>
    <li>online historical data visualization</li>
    <li>text and email alerts</li>
    <li>email csv data retrieval</li>
  </ul>
  <div class="container">
    <h2>View data for <a href="/tank" "link to tank view">your tank</a></h2>
  </div>
</body>
</html>


