body {
  /*max-width: 600px;*/
  margin: 0px auto;
  /*font-family: 'Oxygen', Arial, sans-serif;*/
  padding: 20px;
  /*text-align: center;*/
}
table, th, td, div.control_group {
  border: 2px solid black;
  text-align: center;
  background: #efefef;
  margin: 0 auto;
}
table, th, td {
  padding: 4px;
}
table {
  width: 100%;
}
div.control_group {
  padding: 15px;
  min-height: 33px;
}
canvas#canvas {
  border: 2px solid black;
  background: #efefef;
  width: 100% !important;
}

td#td_date {
  width: 330px
}
.inline{
  display: inline-block;
}
input.short{
  width: 5em;
  text-align: center;
  padding: 3px;
}

.absolute{
  position: absolute;
  left: 77px;
  top: 0px;
}

.center_text {
  text-align: center;
}
.center {
  display: block;
  /*margin: 10px auto;*/
}
.button_link{
  display: inline-block;
  color: black;
  background: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: outset;
  padding: 6px;
}
.button_link:hover{
  opacity: 0.7;
}
.a_link{
  text-decoration: underline;
}
.invisible{
  display: none;
}
